.card {
  margin-left: 8.5%;
  margin-right: 8.5%;
  padding: 2%;
  background-color: white;
  border: 1px solid #dfe4e5;
  border-radius: 4px;
  margin-bottom: 2em;
}

.card:hover {
  border: 1px solid #0f748c;
}

.cards-container {
  margin-top: 8em;
}

.title {
  color: #7f9294;
  font-size: 20px;
}

.user-name {
  font-size: 24px;
  color: #2a494b;
}

.desc {
  color: #7f9294;
}

.url {
  color: #2a494b;
}
